.game{
  display: inline-block;
  box-shadow: 0 0 4px #666;
}
#problem{
  height: 34px;
}
.box{
  display: inline-block;
  width: 32px;
  height: 32px;
  max-width: 32px;
  max-height: 32px;
  border: 1px solid #9e9e9e;
  opacity: 0.3;
  cursor: pointer;
}
.box:hover{
  opacity: 1;
}
.picture{
  height: 30px;
  width: 30px;
}

button{
  margin: 5px;
}
